@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  margin: 0;
  background-image: url("https://images.unsplash.com/photo-1556139943-4bdca53adf1e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80");
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  box-sizing: content-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div h3 {
  text-align: center !important;
  color: white;
  background-color: #fe789a;
}

.a-google {
  text-decoration-line: none !important;
}
.App {
  height: 100vh;
}

.taks-containers {
  padding: 10px;
  border-radius: 10px;
  max-width: 300px;
  flex-wrap: wrap;
  min-height: 400px;
  flex-grow: 1;
}

.task-item {
  background-color: #8454b2;
  margin-block: 10px;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.add-task-button {
  background-color: #b254a7 !important;
  border: none !important;
  margin-top: 1em;
}
.add-task-button:hover {
  background-color: #be5e9c !important;
}
.dragging {
  cursor: grabbing !important;
}
.bin {
  color: red;
  margin-top: 10px;
  margin-inline: auto;
  padding-bottom: 2em;
}
.text-color {
  color: #b254a7;
}
.modal-title {
  color: #b254a7 !important;
}
.post-button {
  background-color: #fe78d0 !important;
  border: none !important;
}
.post-button:hover {
  background-color: #e269b8 !important;
}

@media only screen and (max-width: 770px) {
  .taks-containers {
    max-width: 125px;
    font-size: 0.8rem;
    padding: 3px;
  }
  .task-image {
    width: 50px;
    height: 50px;
  }
}
.submit-button {
  background-color: #fe78d0;
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
}
.submit-button:hover {
  background-color: #ca62a5;
}

label {
  color: #b254a7 !important;
}

.modal-open-button {
  background-color: transparent;
  color: #b254a7;
  border: solid #b254a7;
  border-radius: 10%;
  padding: 10px;
  font-weight: bolder;
}

.avatar {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  border: solid 3px white;
}

.name {
  color: #5d2957;
}
button:hover {
  scale: 1.05;
}
