@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  margin: 0;
  background-image: url("https://images.unsplash.com/photo-1556139943-4bdca53adf1e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80");
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div h3 {
  text-align: center !important;
  color: white;
}
/* .big-container-task {
  width: 90vw;
} */
.taks-containers {
  padding: 10px;
  border-radius: 10px;
  width: 300px;
}
.to-do-container {
  background-color: #b254a7;
}
.doing-container {
  background-color: #bd78fe;
}
.done-container {
  background-color: #fe789a;
}

.task-item {
  background-color: #8454b2;
  margin-block: 10px;
}
.add-task-button {
  background-color: #fe78d0 !important;
  border: none !important;
  margin-top: 1em;
}
.add-task-button:hover {
  background-color: #be5e9c !important;
}
.dragging {
  cursor: grabbing !important;
}
